<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hwine.mapper.order.AdminOrderMapper">

	<resultMap type="org.hwine.domain.member.MemberVO" id="authMap">
		<result property="mEmail" column="m_email" />
		<result property="mName" column="m_name" />
		<result property="mNickname" column="m_nickname" />
		<result property="mProfileImg" column="m_profile_img" />
		<collection property="authList" resultMap="authVO"></collection>
	</resultMap>
	
	<resultMap type="org.hwine.domain.member.AuthVO" id="authVO">
		<result property="role" column="a_role"/>
	</resultMap>
	
	<!-- 주문 등록을 위한 resultMap 생성 -->
	<resultMap type="org.hwine.domain.order.PickUpOrderVO"
		id="orderMap">
		<result property="po_id" column="po_id" />
		<result property="po_register_date" column="po_register_date" />
		<result property="po_booking_date" column="po_booking_date" />
		<result property="po_visited_date" column="po_visited_date" />
		<result property="po_status" column="po_status" />
		<result property="po_total_price" column="po_total_price" />
		<result property="m_email" column="m_email" />
		<result property="s_code" column="s_code" />
		<result property="pm_code" column="pm_code" />
		<result property="po_mileage" column="po_mileage" />
		<result property="po_phone" column="po_phone" />
		<result property="po_name" column="po_name" />
		<association property="store" resultMap="storeMap"></association>
		<association property="payment" resultMap="paymentMap"></association>
		<collection property="items" resultMap="orderitemMap"></collection>
	</resultMap>

	<!-- 주문에 따른 상품 기본 정보 resultMap 생성 -->
	<resultMap type="org.hwine.domain.order.PickUpOrderItemVO"
		id="orderitemMap">
		<result property="po_id" column="po_id" />
		<result property="w_id" column="w_id" />
		<result property="poi_quantity" column="poi_quantity" />
		<association property="productDetail" resultMap="itemMap"></association>
	</resultMap>

	<!-- 주문서 페이지에 불러올 상품 정보 -->
	<resultMap type="org.hwine.domain.order.OrderPageItemVO"
		id="orderPageMap">
		<result property="w_id" column="w_id" />
		<result property="quantity" column="quantity" />
		<association property="productDetail" resultMap="itemMap"></association>
	</resultMap>

	<!-- 주문서 페이지에 불러올 상품 상세정보 -->
	<resultMap type="org.hwine.domain.product.ProductVO"
		id="itemMap">
		<result property="w_id" column="w_id" />
		<result property="w_name_kor" column="w_name_kor" />
		<result property="w_img" column="w_img" />
		<result property="w_price" column="w_price" />
		<result property="w_type" column="w_type" />
		<result property="wr_nation" column="wr_nation" />
		<result property="wv_variety" column="wv_variety" />
		<collection property="stocks" resultMap="stockMap"></collection>
	</resultMap>

	<!-- 주문서 페이지에 불러올 유저 정보 -->
	<resultMap type="org.hwine.domain.member.MemberVO"
		id="memberMap">
		<result property="mEmail" column="m_email" />
		<result property="mName" column="m_name" />
		<result property="mNickname" column="m_nickname" />
		<result property="mPhone" column="m_phone" />
		<result property="mMileage" column="m_mileage" />
	</resultMap>

	<resultMap type="org.hwine.domain.order.StoreVO"
		id="storeMap">
		<result property="s_code" column="s_code" />
		<result property="s_name" column="s_name" />
	</resultMap>

	<resultMap type="org.hwine.domain.order.PaymentMethodVO"
		id="paymentMap">
		<result property="pm_code" column="pm_code" />
		<result property="pm_company" column="pm_company" />
		<result property="pm_method" column="pm_method" />
	</resultMap>


	<resultMap type="org.hwine.domain.cart.StockVO" id="stockMap">
		<result property="s_code" column="s_code" />
		<result property="w_id" column="w_id" />
		<result property="sws_stock" column="sws_stock" />
		<association property="store" resultMap="storeMap"></association>
	</resultMap>
	
	<select id="getOrderListAdmin1" resultMap="orderMap">
		select po_id, m_email, po_name, po_status, po_booking_date, po_register_date, s_code
		from pickup_orders
		where s_code = 'scode1'
		order by po_id desc
	</select>
	
	<select id="getOrderListAdmin2" resultMap="orderMap">
		select po_id, m_email, po_name, po_status, po_booking_date, po_register_date, s_code
		from pickup_orders
		where s_code = 'scode2'
		order by po_id desc
	</select>
	
	<select id="getOrderListAdmin3" resultMap="orderMap">
		select po_id, m_email, po_name, po_status, po_booking_date, po_register_date, s_code
		from pickup_orders
		order by po_id desc
	</select>
	
	
	<update id="adminPickupUpdate">
		UPDATE PICKUP_ORDERS
	 	SET po_status = #{po_status}
	 	WHERE m_email = #{m_email} AND po_id = #{po_id}
	</update>
	
	<update id="adminReturnMileage">
	 	UPDATE MEMBERS
	 	SET m_mileage = m_mileage + #{po_mileage}
	 	WHERE m_email = #{m_email}
	 </update>
	 
	 <update id="confirmPickup">
		UPDATE PICKUP_ORDERS
		SET po_visited_date = sysdate, po_status = 4, po_confirm_admin = #{po_confirm_admin}
		WHERE po_id = #{po_id}
	 </update>
	 
	 <select id="checkAdmin" resultMap="authMap">
	 	SELECT m.m_email, m_name, m_nickname, a_role
	 	FROM members m JOIN auths a ON m.m_email = a.m_email
	 	WHERE a.a_role LIKE '%ADMIN%'
	 </select>
	 
	 
	 <select id="adminOrderMain" resultMap="orderMap">
	 	SELECT wr.WR_NATION_KOR, wv.WV_VARIETY_KOR, po.po_id, po_register_date, po_booking_date, po_visited_date, po_status, po_total_price, m_email, po.s_code, po.pm_code, po_mileage, po_phone, po_name, poi.w_id, poi_quantity, w_name_kor, w_img, w_price, w_type, pm_company, s_name
		FROM pickup_orders po JOIN pickup_order_items poi ON po.po_id = poi.po_id JOIN wine w ON poi.w_id = w.w_id JOIN wine_makers wm ON w.wm_maker = wm.wm_maker JOIN payment_method pm ON po.pm_code = pm.pm_code JOIN stores s ON po.s_code = s.s_code JOIN wine_regions wr ON wm.wr_nation = wr.wr_nation JOIN wine_variety wv ON w.WV_VARIETY = wv.WV_VARIETY
		WHERE to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd') AND po.s_code = 'scode1'
		GROUP BY wr.WR_NATION_KOR, wv.WV_VARIETY_KOR, po.po_id, po_register_date, po_booking_date, po_visited_date, po_status, po_total_price, m_email, po.s_code, po.pm_code, po_mileage, po_phone, po_name, poi.w_id, poi_quantity, w_name_kor, w_img, w_price, w_type, pm_company, s_name
		ORDER BY po_id desc
	 </select>
	 
	 <select id="adminOrderMain1" resultMap="orderMap">
	 	SELECT wr.WR_NATION_KOR, wv.WV_VARIETY_KOR, po.po_id, po_register_date, po_booking_date, po_visited_date, po_status, po_total_price, m_email, po.s_code, po.pm_code, po_mileage, po_phone, po_name, poi.w_id, poi_quantity, w_name_kor, w_img, w_price, w_type, pm_company, s_name
		FROM pickup_orders po JOIN pickup_order_items poi ON po.po_id = poi.po_id JOIN wine w ON poi.w_id = w.w_id JOIN wine_makers wm ON w.wm_maker = wm.wm_maker JOIN payment_method pm ON po.pm_code = pm.pm_code JOIN stores s ON po.s_code = s.s_code JOIN wine_regions wr ON wm.wr_nation = wr.wr_nation JOIN wine_variety wv ON w.WV_VARIETY = wv.WV_VARIETY
		WHERE to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd') AND po.s_code = 'scode2'
		GROUP BY wr.WR_NATION_KOR, wv.WV_VARIETY_KOR, po.po_id, po_register_date, po_booking_date, po_visited_date, po_status, po_total_price, m_email, po.s_code, po.pm_code, po_mileage, po_phone, po_name, poi.w_id, poi_quantity, w_name_kor, w_img, w_price, w_type, pm_company, s_name
		ORDER BY po_id desc
	 </select>
	 
	 <select id="adminOrderMain2" resultMap="orderMap">
	 	SELECT wr.WR_NATION_KOR, wv.WV_VARIETY_KOR, po.po_id, po_register_date, po_booking_date, po_visited_date, po_status, po_total_price, m_email, po.s_code, po.pm_code, po_mileage, po_phone, po_name, poi.w_id, poi_quantity, w_name_kor, w_img, w_price, w_type, pm_company, s_name
		FROM pickup_orders po JOIN pickup_order_items poi ON po.po_id = poi.po_id JOIN wine w ON poi.w_id = w.w_id JOIN wine_makers wm ON w.wm_maker = wm.wm_maker JOIN payment_method pm ON po.pm_code = pm.pm_code JOIN stores s ON po.s_code = s.s_code JOIN wine_regions wr ON wm.wr_nation = wr.wr_nation JOIN wine_variety wv ON w.WV_VARIETY = wv.WV_VARIETY
		WHERE to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd')
		GROUP BY wr.WR_NATION_KOR, wv.WV_VARIETY_KOR, po.po_id, po_register_date, po_booking_date, po_visited_date, po_status, po_total_price, m_email, po.s_code, po.pm_code, po_mileage, po_phone, po_name, poi.w_id, poi_quantity, w_name_kor, w_img, w_price, w_type, pm_company, s_name
		ORDER BY po_id desc
	 </select>
	 
	 
	 <select id="todayToBePickuped" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders 
	 	WHERE to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd') AND s_code = 'scode1'
	 </select>
	 
	 <select id="todayToBePickuped1" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd') AND s_code = 'scode2'
	 </select>
	 
	 <select id="todayToBePickuped2" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd')
	 </select>
	 
	 <select id="todayPickuped" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status = 4 AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd') AND s_code = 'scode1'
	 </select>
	 
	 <select id="todayPickuped1" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status = 4 AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd') AND s_code = 'scode2'
	 </select>
	 
	 <select id="todayPickuped2" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status = 4 AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd')
	 </select>
	 
	 <select id="newPickup" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status in (1, 3) AND to_char(po_register_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd') AND s_code = 'scode1'
	 </select>
	 
	 <select id="newPickup1" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status in (1,3) AND to_char(po_register_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd') AND s_code = 'scode2'
	 </select>
	 
	 <select id="newPickup2" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status in (1,3) AND to_char(po_register_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd')
	 </select>
	 
	 <select id="todayCanceledPickup" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status = 2 AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd')  AND s_code = 'scode1'
	 </select>
	 
	 <select id="todayCanceledPickup1" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status = 2 AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd')  AND s_code = 'scode2'
	 </select>
	 
	 <select id="todayCanceledPickup2" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status = 2 AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp, 'yy/MM/dd')
	 </select>
	 
	 <select id="tomorrowPickup" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status in (1, 3) AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp + 1, 'yy/MM/dd')  AND s_code = 'scode1'
	 </select>
	 
	 <select id="tomorrowPickup1" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status in (1, 3) AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp + 1, 'yy/MM/dd')  AND s_code = 'scode2'
	 </select>
	 
	 <select id="tomorrowPickup2" resultType="int">
	 	SELECT count(*)
	 	FROM pickup_orders
	 	WHERE po_status in (1, 3) AND to_char(po_booking_date, 'yy/MM/dd') = to_char(current_timestamp + 1, 'yy/MM/dd')
	 </select>
	 
	 <select id="checkScode" resultMap="authMap">
	 	SELECT *
	 	FROM AUTHS
	 	WHERE m_email = #{m_email}
	 </select>
	 
</mapper>