@charset "utf-8";
@import url('//fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Serif+KR:wght@300;400;500;600;700&display=swap');
@import url(./reset.css);
@import url(./swiper.min.css);
@import url(./jquery.mCustomScrollbar.css);
/*font-family: 'Lato', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;*/
/**************** default style ****************/
/* margin */
.m0{margin:0 !important}
.mt0{margin-top:0 !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt50{margin-top:50px !important}
.mt55{margin-top:55px !important}
.mt60{margin-top:60px !important}
.mt65{margin-top:65px !important}
.mt70{margin-top:70px !important}
.mt75{margin-top:75px !important}
.mt80{margin-top:80px !important}
.mt85{margin-top:85px !important}
.mt90{margin-top:90px !important}
.mt95{margin-top:95px !important}
.mt100{margin-top:100px !important}
.mb0{margin-bottom:0 !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb35{margin-bottom:35px !important}
.mb40{margin-bottom:40px !important}
.mb45{margin-bottom:45px !important}
.mb50{margin-bottom:50px !important}
.mb55{margin-bottom:55px !important}
.mb60{margin-bottom:60px !important}
.mb65{margin-bottom:65px !important}
.mb70{margin-bottom:70px !important}
.mb75{margin-bottom:75px !important}
.mb80{margin-bottom:80px !important}
.mb85{margin-bottom:85px !important}
.mb90{margin-bottom:90px !important}
.mb95{margin-bottom:95px !important}
.mb100{margin-bottom:100px !important}
.mr0{margin-right:0 !important}
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr35{margin-right:35px !important}
.mr40{margin-right:40px !important}
.mr45{margin-right:45px !important}
.mr50{margin-right:50px !important}
.mr55{margin-right:55px !important}
.mr60{margin-right:60px !important}
.mr65{margin-right:65px !important}
.mr70{margin-right:70px !important}
.mr75{margin-right:75px !important}
.mr80{margin-right:80px !important}
.mr85{margin-right:85px !important}
.mr90{margin-right:90px !important}
.mr95{margin-right:95px !important}
.mr100{margin-right:100px !important}
.ml0{margin-left:0 !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml35{margin-left:35px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}
.ml55{margin-left:55px !important}
.ml60{margin-left:60px !important}
.ml65{margin-left:65px !important}
.ml70{margin-left:70px !important}
.ml75{margin-left:75px !important}
.ml80{margin-left:80px !important}
.ml85{margin-left:85px !important}
.ml90{margin-left:90px !important}
.ml95{margin-left:95px !important}
.ml100{margin-left:100px !important}

/* padding */
.p0{padding:0 !important}
.pt0{padding-top:0 !important}
.pt5{padding-top:5px !important}
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}
.pt35{padding-top:35px !important}
.pt40{padding-top:40px !important}
.pt45{padding-top:45px !important}
.pt50{padding-top:50px !important}
.pt55{padding-top:55px !important}
.pt60{padding-top:60px !important}
.pt65{padding-top:65px !important}
.pt70{padding-top:70px !important}
.pt75{padding-top:75px !important}
.pt80{padding-top:80px !important}
.pt85{padding-top:85px !important}
.pt90{padding-top:90px !important}
.pt95{padding-top:95px !important}
.pt100{padding-top:100px !important}
.pb0{padding-bottom:0 !important}
.pb5{padding-bottom:5px !important}
.pb10{padding-bottom:10px !important}
.pb15{padding-bottom:15px !important}
.pb20{padding-bottom:20px !important}
.pb25{padding-bottom:25px !important}
.pb30{padding-bottom:30px !important}
.pb35{padding-bottom:35px !important}
.pb40{padding-bottom:40px !important}
.pb45{padding-bottom:45px !important}
.pb50{padding-bottom:50px !important}
.pb55{padding-bottom:55px !important}
.pb60{padding-bottom:60px !important}
.pb65{padding-bottom:65px !important}
.pb70{padding-bottom:70px !important}
.pb75{padding-bottom:75px !important}
.pb80{padding-bottom:80px !important}
.pb85{padding-bottom:85px !important}
.pb90{padding-bottom:90px !important}
.pb95{padding-bottom:95px !important}
.pb100{padding-bottom:100px !important}
.pb120{padding-bottom:120px !important}
.pb150{padding-bottom:150px !important}
.pr0{padding-right:0 !important}
.pr5{padding-right:5px !important}
.pr10{padding-right:10px !important}
.pr15{padding-right:15px !important}
.pr20{padding-right:20px !important}
.pr25{padding-right:25px !important}
.pr30{padding-right:30px !important}
.pr35{padding-right:35px !important}
.pr40{padding-right:40px !important}
.pr45{padding-right:45px !important}
.pr50{padding-right:50px !important}
.pr55{padding-right:55px !important}
.pr60{padding-right:60px !important}
.pr65{padding-right:65px !important}
.pr70{padding-right:70px !important}
.pr75{padding-right:75px !important}
.pr80{padding-right:80px !important}
.pr85{padding-right:85px !important}
.pr90{padding-right:90px !important}
.pr95{padding-right:95px !important}
.pr100{padding-right:100px !important}
.pl0{padding-left:0 !important}
.pl5{padding-left:5px !important}
.pl10{padding-left:10px !important}
.pl15{padding-left:15px !important}
.pl20{padding-left:20px !important}
.pl25{padding-left:25px !important}
.pl30{padding-left:30px !important}
.pl35{padding-left:35px !important}
.pl40{padding-left:40px !important}
.pl45{padding-left:45px !important}
.pl50{padding-left:50px !important}
.pl55{padding-left:55px !important}
.pl60{padding-left:60px !important}
.pl65{padding-left:65px !important}
.pl70{padding-left:70px !important}
.pl75{padding-left:75px !important}
.pl80{padding-left:80px !important}
.pl85{padding-left:85px !important}
.pl90{padding-left:90px !important}
.pl95{padding-left:95px !important}
.pl100{padding-left:100px !important}

.pdv15 {padding-top: 15px !important; padding-bottom: 15px !important;}
.pdv20 {padding-top: 20px !important; padding-bottom: 20px !important;}
.pdh15 {padding-left: 15px !important; padding-right: 15px !important;}

/* default */
.dft-p10 {padding: 10px;}
.dft-p10-15 {padding: 10px 15px;}

/**************** 여기부터		 ****************/
/**************** default style	****************/
.text-center {text-align: center !important;}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.float-l, .fl {float: left;}
.float-r, .fr {float: right;}
.clearfix {clear: both; overflow: hidden;}
.hidden {display: none;}
.abs {position: absolute !important;}
.rel {position: relative;}
.vat{vertical-align:top !important}
.vam{vertical-align:middle !important}
.db{display:block !important}
.dib{display:inline-block !important}
.w100 {width: 100%;}
.bg-fff {background-color: #fff;}
.bg-skybl {background-color:#1c97fe;}
.bg-navy {background-color:#1429a0;}
.bg-navy-d1 {background-color:#223785;}
.bg-navy-d2 {background-color:#2e3661;}

/**************** font style	****************/
h1,h2,h3,h4,h5,h6,strong{font-weight:500}
.ft-navy {color: #1429a0;}
.ft-lightbl {color: #0056cd;}
.ft-skybl {color: #1c97fe;}
.ft-red {color: #d94e3f;}
.ft-gray{color: #a0a0a0;}
.ft-gray-light{color: #999;}
.ft-gray-737373{color: #737373;}
.ft-gray-262626{color: #262626;}
.ft-fff{color: #fff;}
.ft-14 {font-size: 14px;}
.ft-16 {font-size: 16px;}
.ft-18 {font-size: 18px;}
.ft-22 {font-size: 22px;}
.ft-bold {font-weight: bold !important;font-weight: 700 !important;}
.ft-sbold {font-weight: 500;}
.ft-normal {font-weight: 400;}
.col-red{color:#c70039;}
.col-blue{color:#0054ff;}
.col-skybl{color:#0c8bff;}
.col-fff{color:#fff;}
.col-999{color:#999;}

.bdb{border-bottom:solid 1px #e6e6e6;}


/**************** button style	****************/
.button{display:inline-block;padding:0 12px;line-height:30px;border-radius:4px;cursor:pointer;word-break:keep-all;
	vertical-align:middle;box-sizing:border-box;text-align:center;}
.button-white{color:#46675c;border:1px solid #46675c;background:#fff}
.button-white-gray{color:#404040;border:1px solid #b3b3b3;background:#fff}
.button-dgray{color:#fff !important;border:1px solid #999;background:#999}
.button-gray{color:#fff;border:1px solid #4d4d4d;background:#4d4d4d}
.button-lgray{color:#000;border:1px solid #ececec;background:#f4f4f4}
.button-wine{color:#fff;border:1px solid #46675c;background:#46675c}
.button-black{color:#fff;border:1px solid #262626;background:#262626}
.button-block {width:100%;}
.button-round {border-radius:4px;}
.button_abs_rb{position:absolute;right:0;top:0;}
.button.button-large{width:100%;font-size:20px;font-weight:500;line-height:60px;border-radius:4px;}
.button.button-small{}
.button.button-md{width:200px;font-size:18px;line-height:50px;}
.pagination-box .button{min-width:146px;}
.button-bg-basic{color:#fff;background:#c70039}
.button-bg-basic:hover{color:#fff;background:#c70039;transition-duration:0.1s;}
.inter-box a:hover{transition-duration:0.1s;}
.button.button-large.btn-wide{width:440px;max-width:100%;}
.btn:disabled {cursor: not-allowed;}

img{vertical-align:middle;max-width:100%;}
.clear:after{content:"";display:block;clear:both}

/* table */
table{border-collapse:collapse;}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
caption.safari{display:none}

select{height:52px;padding:0 15px 0 10px;font-size:14px;font-weight:400;color:#737373;border:1px solid #e6e6e6;border-radius:4px;background:#fff;/*background:#fff url(../../02_images/common/icon_select_sheet.png) no-repeat;background-position:right 10px center;-webkit-appearance:none;-moz-appearance:none;appearance: none;*/}
.ui-datepicker select {height:auto;}

.inp-col1 input{width:100%}
.inp-col2 .inp-col1{display:inline-block;width:calc((100% - 20px) / 2);vertical-align:middle}
.inp-col2 .inp-col1 + .inp-col1{margin-left:10px}
.inp-col3 select{width:calc((100% - 10px ) / 3)}
.inp-col4 input{width:calc((100% - 10px) / 4)}
.inp-col2-1 input{width:calc((100% - 80px))}
.inp-col2-1 select{width:calc((100% - 84px))}

input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=password]
{height:48px;padding:0 10px;font-size:14px;border:1px solid #ccc;border-radius:4px}
textarea{font-family:'Noto Sans KR', Tahoma, Geneva, sans-serif;font-size:14px;padding:10px;resize:none;background:#fff}
.inputbx textarea{width:100%;min-height:200px;border:solid 1px #ccc;font-size:16px;}
.chk-bx{}
.chk-bx input[type="checkbox"], .chk-bx input[type="radio"], .chk-bx-large input[type="radio"] {display:none;}
.chk-bx input[type="checkbox"] + label span,
.chk-bx input[type="radio"] + label span,
.chk-bx-large input[type="radio"] + label span {display:inline-block;width:20px;height:20px;margin:-3px 6px 0 0;vertical-align:middle;background:url('../../02_images/icon_check_sheet.png') no-repeat;}
.chk-bx input[type="checkbox"] + label span {background-position:0 0;}
.chk-bx input[type="checkbox"]:checked + label span {background-position:-73px 0;}
.chk-bx input[type="checkbox"]:disabled + label span {background-position:-48px 0;}
.chk-bx input[type="radio"] + label span {width:16px;height:16px;background-position:0 100%;}
.chk-bx input[type="radio"]:checked + label span {background-position:-24px 100%;}
.chk-bx-large input[type="radio"] + label span {width:20px;height:20px;border:1px solid #ccc;background:none;border-radius:50%;}
.chk-bx-large input[type="radio"]:checked + label span {border:6px solid #c70039;}
.f-namum{font-family:'NanumGothic', Tahoma, Geneva, sans-serif;}

/* jquery-confirm style */
.jc-bs3-row.row.justify-content-lg-center,
.jc-bs3-row.row.justify-content-md-center,
.jc-bs3-row.row.justify-content-sm-center,
.jc-bs3-row.row.justify-content-xs-center {justify-content: center;}

::selection {background-color: #333D79; color: #fff;}
/* ::selection {background-color: #c1d6f3;} */
:focus {outline-color: #46675c;}

@media only screen and (max-width: 768px) {
	.button.button-large{font-size:16px;line-height:44px;}
	input[type=text], input[type=tel], input[type=number],
	input[type=email], input[type=password] {height:40px;padding:0 10px;font-size:14px;border:1px solid #ccc;border-radius:4px}
	.button.button-agree-view{padding:0;}
	.mb-mt10{margin-top:10px !important;}
}