@charset "utf-8";

.mb_hidden{display:block !important}
.pc_hidden{display:none !important}
.wrap{width:1200px;margin:0 auto}

/* common style - button */
.btn_txt{display:inline-block;width:180px}
.btn_area.col2 .btn_txt,.btn_area.col3 .btn_txt{float:none;width:260px;margin-right:7px}
.arrow_btn_prev{width:64px;height:64px}
.arrow_btn_next{width:64px;height:64px}
/* common style - form_area */
.form_area li:first-child{margin-top:30px}
.form_area li .l_tit{font-size:16px}
.form_area li .form_box .input_info_txt{padding-top:5px}
/* common style - tab */
.tab_area>ul>li>button{padding:12px 0;font-size:18px;line-height:26px}
.tab_area>ul>li.on>button span{padding-left:23px;background-image:url(/asset/images/shop/mypage/pc_tab_select_point.png);background-size:14px}
.tab_area>ul>li.on>button:after{height:3px}
/* common style - layer */
.layer .display_table{width:600px;margin:0 auto}
.layer .layer_area .layer_close{top:36px;left:50px;width:37px;height:28px;background:url(/asset/images/shop/default/pc_layer_close.png) 50% 50% no-repeat}
.layer .layer_area .layer_tit{border-bottom:1px solid #ddd;font-size:24px;line-height:100px}
.layer .layer_area .layer_con{padding:30px 50px;max-height:80vh}
/* common style - border_style */
.border_style>ul>li{padding:30px 0}
/* common style - checkbox */
.checkbox input[type='radio'] + label,
.checkbox input[type='checkbox'] + label{padding-left:34px}
/* common style - srch_box */
.srch_box input{width:calc(100% - 62px);height:38px;line-height:38px}
.srch_box button{width:62px;height:38px;line-height:38px;background:url(/asset/images/shop/default/pc_ico_srch.png) no-repeat 50%;background-size:22px}
/* common style - lnb */
.lnb{position:static}
.lnb .page_tit{height:220px;line-height:220px;font-size:40px;font-weight:700}
/* header */
.header .top .wrap{height:125px;padding:22px 0 21px;transition:all 0.6s;-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s}
.header .top .wrap h1.logo{width:152px}
.header .top .wrap .left_menu{left:0}
.header .top .wrap .left_menu .mb_btn_menu{display:none}
/* .header .top .wrap .left_menu .mb_search_btn{display:none} */
.header .top .wrap .left_menu .mb_search_btn button{width:50px;border:1px solid #111;background-position:27px center;background-size:18px}
.header .top .wrap .left_menu .mb_search_btn button.on{width:24px;border:none}
.header .top .wrap .left_menu>li{margin-left:15px} 
.header .top .wrap .left_menu .language{margin-left:0}
/* .header .top .wrap .left_menu .language button{padding-right:17px;background:url(/asset/images/shop/default/pc_gray_arrow.png) no-repeat 100% 50%;line-height:25px;font-size:14px;color:#555} */
.header .top .wrap .left_menu .language span{display:inline-block;margin-right:5px}
.header .top .wrap .left_menu .language .txt{display:block;font-size:12px}
.header .top .wrap .left_menu .sns_area{position:relative}
.header .top .wrap .left_menu .sns_area .btn_sel{padding-right:15px;background:url(/asset/images/shop/default/pc_gray_arrow.png) no-repeat 100% 50%;background-size:12px}
.header .top .wrap .left_menu .sns_area button span{display:block;width:24px;height:24px;text-indent:-9999px;overflow:hidden}
.header .top .wrap .left_menu .sns_area .ico_facebook{background:#1877F2 url(/asset/images/shop/default/pc_ico_facebook.png) no-repeat 50% 50%;background-size:8px}
.header .top .wrap .left_menu .sns_area .ico_insta{background:#CF398E url(/asset/images/shop/default/pc_ico_insta.png) no-repeat 50% 50%;background-size:14px}
.header .top .wrap .left_menu .sns_area .ico_blog{background:#00C13A url(/asset/images/shop/default/pc_ico_blog.png) no-repeat 50% 50%;background-size:13px}
.header .top .wrap .left_menu .sns_area .ico_youtube{background:#F70000 url(/asset/images/shop/default/pc_ico_youtube.png) no-repeat 50% 50%;background-size:14px}
.header .top .wrap .left_menu .sns_area .ico_kakao{background:#FAE100 url(/asset/images/shop/default/pc_ico_kakao.png) no-repeat 50% 50%;background-size:13px}
.header .top .wrap .left_menu .sns_area ul{background:#fff;white-space:nowrap;z-index:10}
.header .top .wrap .left_menu .sns_area.on ul{display:block}
.header .top .wrap .left_menu .sns_area li{display:inline-block}
.header .top .wrap .left_menu .sns_area li:not(:first-child){margin-left:5px}
.header .top .wrap .left_menu .store_area{position:relative}
.header .top .wrap .left_menu .store_area .btn_sel{padding-right:17px;background:url(/asset/images/shop/default/pc_gray_arrow.png) no-repeat 100% 50%;background-size:12px}
.header .top .wrap .left_menu .store_area button span{display:block;overflow:hidden;font-size:14px;color:#999}
.header .top .wrap .left_menu .store_area ul{display:none;position:absolute;top:30px;left:0;padding:10px;border:1px solid #ddd;background:#fff;white-space:nowrap;text-align:left;z-index:200}
.header .top .wrap .left_menu .store_area.on ul{display:block}
.header .top .wrap .left_menu .store_area li:not(:first-child){margin-top:5px}
.header .top .wrap .left_menu .store_area li button span{color:#333}
.header .top .wrap .right_menu .pc_search_btn.on{position:absolute;top:180px;right:0;z-index:110}
.header .top .wrap .right_menu .pc_search_btn button{width:24px;height:24px;overflow:hidden;text-indent:-9999px;background:url(/asset/images/shop/default/pc_icon_search.png) no-repeat 50%}
.header .top .wrap .right_menu .pc_search_btn button.on{background:url(/asset/images/shop/default/mb_icon_close.png) no-repeat 50%}
.header .top .wrap .right_menu{right:0}
.header .top .wrap .right_menu li{margin-left:20px}
.header .top .wrap .right_menu li.wish{margin-left:10px}
.header .top .wrap .right_menu li.mypage{position:relative;overflow:visible}
.header .top .wrap .right_menu li.mypage button{padding-right:17px;background:url(/asset/images/shop/default/pc_gray_arrow.png) no-repeat 100% 50%}
.header .top .wrap .right_menu li .mypage_layer{display:none;position:absolute;top:150%;transform:translateX(-25%);border:1px solid #ddd;z-index:200}
.header .top .wrap .right_menu li.mypage>button.on + .mypage_layer{display:block}
.header .top .wrap .right_menu li .mypage_layer .no_login{width:60px;background:#fff;padding:10px 8px}
.header .top .wrap .right_menu li .mypage_layer .no_login a{display:block;font-size:12px;color:#555}
.header .top .wrap .right_menu li .mypage_layer .no_login a:first-child{margin-bottom:5px}
.header .top .wrap .right_menu li .mypage_layer .on_login{width:180px;background:#fff;padding:10px 0 20px}
.header .top .wrap .right_menu li .mypage_layer .on_login ul li{width:100%;padding:10px 10px 0;margin:0;overflow:hidden}
.header .top .wrap .right_menu li .mypage_layer .on_login ul li h3{float:left}
.header .top .wrap .right_menu li .mypage_layer .on_login ul li h3 a{color:#111;font-size:12px}
.header .top .wrap .right_menu li .mypage_layer .on_login ul li .info{float:right;font-size:12px;font-weight:700;color:#ac8b68}
.header .top .wrap .right_menu li .mypage_layer .on_login ul li .sub_info{padding-top:5px;clear:both;font-size:11px;color:#999;text-align:left}
.header .top .wrap .right_menu li .mypage_layer .on_login ul li:nth-child(2n){padding-bottom:20px}
.header .top .wrap .right_menu li .mypage_layer .on_login ul li.top_line{border-top:1px solid #ddd;padding-bottom:10px}
.header .top .wrap .right_menu li .mypage_layer .on_login .btn_txt{margin:5px 10px 0;padding-right:0;width:calc( 100% - 20px);height:30px;font-size:12px;line-height:30px;font-weight:500;background:#111}
.header .top .wrap .right_menu .wish a{width:39px}
.header .top .wrap .right_menu .wish a .list-count{top:-5px;right:-5px;width:20px;line-height:20px;font-size:12px}
.header .top .wrap .right_menu .cart a{width:39px;background-position:0 50%}
.header .top .wrap .right_menu .cart a .list-count{top:-5px;right:0px;width:20px;line-height:20px;font-size:12px}
.header .top .wrap .right_menu .mb_search_btn{display:none}
.header .bottom .wrap{position:relative}
.header .bottom .wrap::after{content:"";display:block;clear:both}
.header .bottom .wrap .gnb::after{display:none}
.header .bottom .wrap .gnb>ul{overflow:visible;white-space:normal;flex-wrap:nowrap;text-align:center;font-size:0}
.header .bottom .wrap .gnb>ul>li{padding:0 30px}
.header .bottom .wrap .gnb>ul>li:first-child{padding:0 40px 0 0}
.header .bottom .wrap .gnb>ul>li:last-of-type{padding:0 0 0 40px}
.header .bottom .wrap .gnb>ul>li.mb_hidden{display:inline-block !important}
/* .header .bottom .wrap .gnb>ul>li:nth-child(5){position:relative;padding-right:35px;margin-right:35px}
.header .bottom .wrap .gnb>ul>li:nth-child(5)::after{content:"";position:absolute;top:9px;bottom:7px;right:0;width:1px;background:#ddd} */
.header .bottom .wrap .gnb>ul>li>a{position:relative;height:62px;line-height:62px}
.header .bottom .wrap .gnb>ul>li.on::after{display:none}
.header .bottom .wrap .gnb>ul>li:hover>a:after,
.header .bottom .wrap .gnb>ul>li.on>a:after{content:"";position:absolute;left:0;right:0;bottom:14px;height:1px;background:#111}
.header .bottom .wrap .gnb>ul>li .pc_category_gnb{position:absolute;top:62px;left:0;min-width:100%;background-color:#fff;text-align:left;white-space:nowrap}
.header .bottom .wrap .gnb>ul>li:first-of-type .pc_category_gnb{left:-30px}
.header .bottom .wrap .gnb>ul>li .pc_category_gnb .flex_box{justify-content:flex-start;padding:0 40px 20px 30px}
.header .bottom .wrap .gnb>ul>li .pc_category_gnb .box{padding:0}
.header .bottom .wrap .gnb>ul>li:hover .pc_category_gnb{display:block}
.header .bottom .wrap .gnb>ul>li>ul{position:absolute;top:54px;left:50%;width:130px;background:#fff;margin-left:-65px;padding:15px;box-shadow:5px 5px 10px rgba(0, 0, 0, 0.05);z-index:110}
/* .header .bottom .wrap .gnb>ul>li:hover>ul{display:block} */
.header .bottom .wrap .gnb>ul>li>ul>li:not(:first-child){margin-top:15px}
.header .bottom .wrap .gnb>ul>li>ul>li>a{color:#999}
.header .bottom .wrap .gnb>ul>li>ul>li:hover>a{color:#111}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine{width:598px;padding:30px}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li:not(:first-of-type){margin:0 0 0 15px}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li>a{display:block;width:100px;margin-bottom:15px;color:#111111}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine::after{content:'';display:block;clear:both}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li::after{content:'';display:block;clear:both}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li{float:left;width:100px;text-align:left}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li:nth-of-type(3){width:308px}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li .sub_lists{float:left;width:100px}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li:nth-of-type(3) .sub_lists:not(:last-of-type){margin-right:15px}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li .sub_lists li:not(:last-of-type){margin-bottom:15px}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li:nth-of-type(3) .sub_lists:nth-of-type(2){width:113px}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li:nth-of-type(3) .sub_lists:nth-of-type(3){width:65px}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li .sub_lists li a{line-height:1.4;font-size:14px;color:#999999;white-space:nowrap}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li.pc_gnb_banner{width:100%;margin:30px 0 0}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li.pc_gnb_banner a{position:relative;width:100%;margin:0}
.header .bottom .wrap .gnb>ul>li>ul.cate_wine>li.pc_gnb_banner span{position:absolute;top:50%;left:50%;font-size:18px;font-weight:500;color:#fff;transform:translate(-50%, -50%)}
/* .header .bottom .wrap .pc_category{position:relative;float:left;display:block;padding-left:25px;padding-right:35px;margin:15px 35px 17px 0;background:url(/asset/images/shop/default/pc_category_menu.png) no-repeat left 50%;font-family:'Marcellus', 'NotoSansCJKkr', sans-serif;z-index:15}
.header .bottom .wrap .pc_category::after{content:"";position:absolute;top:2px;bottom:0;right:0;width:1px;background:#ddd} */
.header .bottom .wrap .category_gnb.on{display:block}
.header .bottom .wrap .category_gnb{position:absolute;top:54px;left:0;background:#333;z-index:10}
.header .bottom .wrap .category_gnb>ul{padding-bottom:46px}
.header .bottom .wrap .category_gnb>ul>li:hover{background:#111}
.header .bottom .wrap .category_gnb>ul>li>button{width:160px;padding:16px 22px 15px 15px;font-size:14px;font-weight:500;color:#fff;text-align:left}
.header .bottom .wrap .category_gnb>ul>li>button>span{display:block;background:url(/asset/images/shop/default/pc_ico_cate_arrow.png) no-repeat 100% 50%;background-size:6px}
.header .bottom .wrap .category_gnb .sub_cate{display:none;position:absolute;top:0;left:160px;width:260px;height:400px;background:#fff;box-shadow:5px 5px 10px rgba(0, 0, 0, 0.05);padding:25px 20px;z-index:10}
.header .bottom .wrap .category_gnb>ul>li:hover .sub_cate{display:block}
.header .bottom .wrap .category_gnb .sub_cate p{margin-bottom:24px;font-size:24px;font-weight:500}
.header .bottom .wrap .category_gnb .sub_cate li:not(:first-child){margin-top:16px}
.header .bottom .wrap .category_gnb .sub_cate li a{font-size:14px;color:#999}
.header .bottom .wrap .category_gnb .sub_cate li:hover a{color:#111}

.header .bottom .wrap .pc_category{display:block;position:absolute;top:50%;right:0;width:17px;height:13px;margin-top:-7px;background:url(/asset/images/shop/default/pc_category_menu.png) no-repeat 50%;z-index:15}
.header .bottom .wrap .pc_category.on{width:16px;height:16px;margin-top:-8px;background:url(/asset/images/shop/default/pc_category_menu_close.png) no-repeat 50%}
.header .bottom .wrap .pc_category_gnb{display:none}
.header .bottom .wrap .pc_category_gnb.on{display:block}
.header .bottom .wrap .pc_category_gnb .flex_box{display:flex;flex-wrap:wrap;justify-content:center;padding:40px 0 80px}
.header .bottom .wrap .pc_category_gnb .flex_box .box .tit{font-size:18px;font-weight:700;color:#111}
.header .bottom .wrap .pc_category_gnb .flex_box .box .tit:not(:first-child){margin-top:40px}
.header .bottom .wrap .pc_category_gnb .flex_box .box{padding:0 60px 0 20px}
.header .bottom .wrap .pc_category_gnb .flex_box .box:not(:first-child){border-left:1px solid #eee}
.header .bottom .wrap .pc_category_gnb .flex_box .box ul{margin-top:20px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li:not(:first-child){margin-top:15px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li a{color:#555}
.header .bottom .wrap .pc_category_gnb .flex_box .box.wine ul{display:inline-block;vertical-align:top;margin-left:40px}
.header .bottom .wrap .pc_category_gnb .flex_box .box.wine ul:nth-of-type(1){margin-left:0}
.header .bottom .wrap .pc_category_gnb .flex_box .box.wine ul:nth-of-type(1) li a{padding-left:20px}
.header .bottom .wrap .pc_category_gnb .flex_box .box.wine ul:nth-of-type(2) li a{padding-left:36px}
.header .bottom .wrap .pc_category_gnb .flex_box .box.other ul li a{padding-left:19px}

/* 와인 */
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_red a{background:url(/asset/images/shop/default/ico_wine_red.png) no-repeat 0 50%;background-size:12px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_white a{background:url(/asset/images/shop/default/ico_wine_white.png) no-repeat 0 50%;background-size:12px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_rose a{background:url(/asset/images/shop/default/ico_wine_rose.png) no-repeat 0 50%;background-size:12px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_dessert a{background:url(/asset/images/shop/default/ico_wine_dessert.png) no-repeat 0 50%;background-size:12px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_sparkling a{background:url(/asset/images/shop/default/ico_wine_sparkling.png) no-repeat 0 50%;background-size:12px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_spirits a{background:url(/asset/images/shop/default/ico_wine_spirits.png) no-repeat 0 50%;background-size:12px}
/* 기타 주류 */
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_whiskey a{background:url(/asset/images/shop/default/ico_other_whiskey.png) no-repeat 0 50%;background-size:13px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_cognac a{background:url(/asset/images/shop/default/ico_other_cognac.png) no-repeat 0 50%;background-size:10px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_tequila a{background:url(/asset/images/shop/default/ico_other_tequila.png) no-repeat 0 50%;background-size:9px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_jin a{background:url(/asset/images/shop/default/ico_other_jin.png) no-repeat 0 50%;background-size:12px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_rum a{background:url(/asset/images/shop/default/ico_other_rum.png) no-repeat 0 50%;background-size:9px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_beer a{background:url(/asset/images/shop/default/ico_other_beer.png) no-repeat 0 50%;background-size:13px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_wine a{background:url(/asset/images/shop/default/ico_other_wine.png) no-repeat 0 50%;background-size:10px}
/* 국가별 와인 */
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_france a{background:url(/asset/images/shop/default/icon_rec_flag_france.png) no-repeat 0 50%;background-size:26px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_italia a{background:url(/asset/images/shop/default/icon_rec_flag_italia.png) no-repeat 0 50%;background-size:26px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_spain a{background:url(/asset/images/shop/default/icon_rec_flag_spain.png) no-repeat 0 50%;background-size:26px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_germ a{background:url(/asset/images/shop/default/icon_rec_flag_germ.png) no-repeat 0 50%;background-size:26px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_usa a{background:url(/asset/images/shop/default/icon_rec_flag_usa.png) no-repeat 0 50%;background-size:26px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_chile a{background:url(/asset/images/shop/default/icon_rec_flag_chile.png) no-repeat 0 50%;background-size:26px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_argentina a{background:url(/asset/images/shop/default/icon_rec_flag_argentina.png) no-repeat 0 50%;background-size:26px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_aus a{background:url(/asset/images/shop/default/icon_rec_flag_aus.png) no-repeat 0 50%;background-size:26px}
.header .bottom .wrap .pc_category_gnb .flex_box .box li.ico_etc a{background:url(/asset/images/shop/default/icon_rec_etc_map.png) no-repeat 0 50%;background-size:27px}



.header .bottom .wrap .pc_category_gnb .flex_box .box .info{margin-top:40px}
.header .bottom .wrap .pc_category_gnb .flex_box .box .info a{display:block !important;margin-bottom:5px;font-size:18px;font-weight:700;color:#AC8B68}
.header .bottom .wrap .pc_category_gnb .flex_box .box .info p{line-height:1.5;font-size:14px;color:#555}
.header .bottom .wrap .pc_category_gnb .flex_box .box .info p em{font-weight:500;color:#111}


.header.fixed{background-color:#fff}
.header.fixed .top_banner{display:none}
.header.fixed .top{border-bottom:0}
.header.fixed .top .wrap{max-width:none;width:100%;height:auto;padding:0;transition:all 0.6s;-webkit-transition:all 0.6s;-moz-transition:all 0.6s;-o-transition:all 0.6s}
.header.fixed .top .wrap .left_menu{display:none}
.header.fixed .top .wrap .right_menu{display:none}
.header.fixed .top .wrap .logo{display:none}
.header.fixed .bottom{display:block}
.header.fixed .bottom .fixed_logo{position:absolute;bottom:50%;left:3%;display:inline-block;width:36px;height:33px;margin-bottom:-18px;z-index:500}
.header.fixed .bottom .fixed_search_btn{position:absolute;top:20px;left:3%;display:inline-block;width:24px;height:24px;margin-bottom:-12px;text-indent:-9999px;background:url(/asset/images/shop/default/pc_icon_search.png) no-repeat 50%}
.header.fixed .bottom .fixed_search_btn.on{background-image:url(/asset/images/shop/default/mb_icon_close.png)}
.header.fixed .bottom .fixed_cart{position:absolute;top:17px;right:3%;display:block;width:39px;height:28px;margin-bottom:-14px;background:url(/asset/images/shop/default/mb_icon_cart_.png) no-repeat 50%;background-size:33px;font-size:0}
.header.fixed .bottom .fixed_cart span{display:inline-block;overflow:hidden}
.header.fixed .bottom .fixed_cart .list-count{position:absolute;top:-5px;right:0;display:inline-block;width:20px;background:#111;border-radius:100%;line-height:20px;text-align:center;font-size:12px;color:#fff;text-indent:0}
.header.fixed .bottom .fixed_mypage{position:absolute;right:7%;top:20px;display:block;margin-bottom:-10px}
.header .search_layer{border:2px solid #111}
.header .search_layer .search_box{width:1160px;height:54px;margin:0 auto}
.header .search_layer .search_box input{width:320px}
.header.prd_view_header .search_layer{top:100%}

.search_box input,
.search_box button{height:40px;line-height:40px}
.search_box input{width:343px;font-size:14px}
.search_box button{width:44px}

.header.top_hidden .top{display:block}
.header.top_hidden .bottom{display:block}

.search_result{top:56px;left:50%;transform:translateX(-50%);width:320px;border:1px solid #dcdcdc}
.search_result .result_inner #result_list li{margin-top:10px}

/* 20220929 모바일 하단바 카테고리/검색창 디자인 수정 */
.category_layer{display:none !important}

/* contents */
#contents{margin-top:194px;padding-bottom:70px}
#contents.mb_margin_0{margin-top:216px}

/* footer */
.footer{width:100%;padding-bottom:0;z-index:400}
.footer .hidden_info .hidden_info_close{width:100px;margin-left:-50px}
.footer .hidden_info .link_box ul{padding:15px 0;overflow:hidden}
.footer .hidden_info .link_box ul li{position:relative;float:left;margin-bottom:0;padding-right:20px;margin-right:20px}
.footer .hidden_info .link_box ul li::after{content:"";position:absolute;top:5px;bottom:2px;right:0;width:1px;background:#444}
.footer .hidden_info .link_box ul li:last-child{margin-right:0;padding-right:0}
.footer .hidden_info .link_box ul li:last-child::after{display:none}
.footer .hidden_info .js_top_btn{width:70px;height:80px}
.footer .hidden_info .info_box{display:flex;justify-content:space-between;align-items:center;width:1200px;margin:0 auto;overflow:hidden}
.footer .hidden_info .info_box .info{width:calc( 100% - 206px )}
.footer .hidden_info .info_box .info .sns{float:left;width:calc( 100% - 194px )}
.footer .hidden_info .info_box .info .sns li{float:left;margin-left:5px}
.footer .hidden_info .info_box .info .company_info{}
.footer .hidden_info .info_box .info .company_info li:first-of-type{margin-bottom:20px}
.footer .hidden_info .info_box .info .company_info li:last-of-type{margin-top:20px}
.footer .hidden_info .info_box .info .company_info li span:not(:first-of-type){position:relative;margin-left:10px;padding-left:10px}
.footer .hidden_info .info_box .info .company_info li span:not(:first-of-type)::after{content:'';position:absolute;top:50%;left:0;width:1px;height:12px;margin-top:-6px;background-color:rgba(221, 221, 221, .1)}
.footer .hidden_info .info_box .logo{}
.footer .hidden_info .info_box .cs{float:right;width:206px}
.footer .hidden_info .info_box .cs h2,
.footer .hidden_info .info_box .cs p{float:none;width:100%}
.footer .hidden_info .info_box .cs h2{padding-right:0;font-size:18px}
.footer .hidden_info .info_box .cs h2 span{margin-top:6px;font-size:32px;line-height:45px}
.footer .hidden_info .info_box .cs p{margin-top:24px;padding-left:0}
.footer .copy{padding:20px 0 15px}
.footer .copy.view_copy{padding-bottom:15px}
/* guide - guide */
.guide_page.content{max-width:1900px;padding:78px 50px 60px}

/* content */
.content{max-width:1200px;margin:0 auto;padding:65px 60px 60px}

/* table */
table.tbl_list thead th{padding:20px 0}